.content{
  .heading{
    display: block;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #112D46;
  }
  .text{
    display: block;
    text-align: left;
    font-size: 22px;
    color: #605E5E;
  }
}
.blog{
  .blog_picture{
    height: 307px;
    width: 400px;
  }
  *{
    text-align: left;
    margin-bottom: 13px;
  }
  .by,.date{
    width: 40%;
    display:inline-block;
    font-size: 20px;
    color:#605E5E;
  }
  .category{
    font-size: 20px;
    color: #605E5E;
  }
  .blog_title{
    font-size: 22px;
    color: #112D46;
    font-weight: bold;
    text-align: left;
  }
  .blog_text{
    font-size: 20px;
    color: #9D9D9D;
    margin-top: 15px;
  }
  .read_more{
  display: block;
  margin-top: 40px;
  width: 191px;
  height: 51px;
  font-weight: bold;
  color: #112D46;
  border-color: #112D46;
  font-size: 20px;
  border-radius: 50px 50px 50px 50px;
  }
  .read_more:hover{
  background-color:  #112D46;
  border-color: #112D46;
  }
}
