.client{

  .heading{
    display: block;
    font-size: 48px;
    text-align: center;
    letter-spacing: 3.31px;
    color: #112D46;
    margin-top: 100px;
  }
  .divider{
    display: block;
    margin: auto;
    width: 230px;
    border-bottom: 2px solid black
  }
  .title{
    display:block;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #605E5E;
    margin-top: 5px;
  }
  .name{
    font-size: 25px;
    text-align: left;
    color: #112D46;
    font-weight: bold;
    margin-top: 109px;
  }
  .designation{
    font-size: 25px;
    text-align: left;
    color: #9D9D9D;
  }
  .review{
    font-size: 25px;
    text-align: left;
    color: #9D9D9D;
  }
}
.blog{

  .heading{
    display: block;
    font-size: 48px;
    text-align: center;
    letter-spacing: 3.31px;
    color: #112D46;
    margin-top: 100px;
  }
  .divider{
    display: block;
    margin: auto;
    width: 230px;
    border-bottom: 2px solid black
  }
  .title{
    display:block;
    font-size: 30px;
    margin: auto;
    width: 1000px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #605E5E;
    margin-top: 5px;
  }
}
