.whyframe{
  .heading{
    display: block;
    font-size: 48px;
    text-align: center;
    letter-spacing: 3.31px;
    color: #112D46;
    margin-top: 100px;
  }
  .divider{
    display: block;
    margin: auto;
    width: 230px;
    border-bottom: 2px solid black
  }
  .title{
    display:block;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #605E5E;
    margin-top: 5px;
  }
  .Container{
    margin-top: 91px;
  }
}
